<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kebi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{57,108}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,108}}</string>
                <key>sourceSize</key>
                <string>{57,110}</string>
            </dict>
            <key>move-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,124},{30,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,140}}</string>
                <key>sourceSize</key>
                <string>{30,140}</string>
            </dict>
            <key>move-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,47},{43,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,140}}</string>
                <key>sourceSize</key>
                <string>{43,140}</string>
            </dict>
            <key>move-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,92},{30,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,140}}</string>
                <key>sourceSize</key>
                <string>{30,140}</string>
            </dict>
            <key>move-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{52,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,140}}</string>
                <key>sourceSize</key>
                <string>{52,140}</string>
            </dict>
            <key>move-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,186},{28,140}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,140}}</string>
                <key>sourceSize</key>
                <string>{30,140}</string>
            </dict>
            <key>move-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{43,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,140}}</string>
                <key>sourceSize</key>
                <string>{43,140}</string>
            </dict>
            <key>move-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,156},{28,140}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,140}}</string>
                <key>sourceSize</key>
                <string>{30,140}</string>
            </dict>
            <key>move-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,140}}</string>
                <key>sourceSize</key>
                <string>{52,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>role.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c49e6c4ce7f138a7dac75127c7ef8de$</string>
            <key>textureFileName</key>
            <string>role.png</string>
        </dict>
    </dict>
</plist>
